
//------------------------START HEADER--------------
@media screen and (max-width: 824px) {
  header.main{
    div.container{
      div.row.title{
        div.col-10{
          div.title{
            h1{
              font-size: 35px;
            }
          }
        }
      }
      div.row.button{
      div.col-5{
        min-width: 70%;
        max-width: 70%;
      }
    }
    }
  }
}
  //-----START MOBILE BURGER MENU----
nav.menu-disable{
  position: absolute;
  right: -1000%;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color:$purple;
  display: none;
  &.menu-active{
    display: block;
  }
  ul.menu-list{
    padding: 0;
    li{
      list-style: none;
      text-align: center;
      text-decoration: none;
      font-size: 40px;
      display: flex;
      justify-content: center;
      margin: 30px 20px 30px;
      &:first-child{
        margin-top: 50px;
      }
      a{

        color: $white;
        font-weight: 700;
      }

    }
  }

}
@media screen and (max-width: 656px)  {
  div.mobile-nav{
    position: relative;
    background-color:  #e2e2e2;
    z-index: 1;

    .menu-icon-wrapper {
      /*   background: red; */
      width: 30px;
      height: 30px;
      display: flex;
      position: absolute;
      top: 25px;
      right: 25px;
    }

    .menu-icon {
      position: relative;
      width: 30px;
      height: 5px;
      background-color: #fff;
    }

    .menu-icon::before {
      position: absolute;
      left: 0;
      top: -10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      z-index: 1;

    }

    .menu-icon::after {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: #fff;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
      z-index: 1;

    }

    .menu-icon.menu-icon-active {
      background-color: transparent;
    }

    .menu-icon.menu-icon-active::before {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    .menu-icon.menu-icon-active::after {
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

  }
  header.main{
    div.container{
      div.row.nav{
        div.nav.col-6{
          nav{
            display: none;
          }
        }
      }
      div.logo.col-6{
        display: flex;
        justify-content: center;
        a{
          img{

          }
        }
      }
    }
  }
  nav.menu-active{
    position: fixed;
    left: 0;
    z-index: 1;
  }
}
  //-----END MOBILE BURGER MENU------
@media screen and (max-width: 573px){
  header.main{
    div.container{
      div.row.title{
        div.col-10{
          div.title{
            h1{
              font-size: 30px;
            }
          }
        }
      }
      div.row.button{
        div.col-5{
          min-width: 100%;
          max-width: 100%;
          box-sizing: content-box;
          a{
            padding: 20px 50px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 465px){
  header.main{
    div.container{
      div.row.title{
        div.col-10{
          div.title{
            h1{
              font-size: 25px;
            }
          }
        }
      }
      div.row.button{
        div.col-5{
        }
      }
    }
  }
}
@media screen and (max-width: 355px){
  header.main{
    div.container{
      div.row.button{
        div.col-5{

        }
      }
    }
  }
}
@media screen and (max-width: 346px){
  header.main{
    div.container{
      div.row.button{
        div.col-5{

        }
      }
    }
  }
}
//------------------------END HEADER----------------

//------------------------START SERVICES------------
@media screen and (max-width: 1000px){
  section.services{
    div.container{
      div.row.services-items{
        div.col-3.item{
          max-width: 50%;
          min-width: 50%;
          div.text{
            margin: auto;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 510px){
  section.services{
    div.container{
      div.row.services-title{
        text-align: center;
        h1{
          line-height: 40px;
        }
      }
      div.row.services-items{
        div.col-3.item{
          max-width: 100%;
          min-width: 100%;
          div.text{
            margin: auto;
          }
        }
      }
    }
  }
}
//------------------------END SERVICES--------------

//------------------------START TEAM----------------
@media screen and (max-width: 850px){
  section.team{
    div.container{
      div.row.team-items{
        div.col-3.item{
          min-width: 50%;
          max-width: 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 623px){
  section.team{
    div.container{
      div.row.team-title{
        h2{
          text-align: center;
          line-height: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 460px){
  section.team{
    div.container{
      div.row.team-items{
        div.col-3.item{
          min-width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}
//------------------------END TEAM------------------

//------------------------START SKILL---------------
@media screen and (max-width: 675px){
  section.skill{
  div.container{
    div.row.count{
      div.col-3.item{
        max-width: 50%;
        min-width: 50%;
      }
    }
  }
  }
}
@media screen and (max-width: 365px){
  section.skill{
    div.container{
      div.row.skill-title{
        h2{
          text-align: center;
          line-height: 40px;
        }
      }
      div.row.count{
        div.col-3.item{
          max-width:100%;
          min-width: 100%;
        }
      }
    }
  }
}
//------------------------END SKILL-----------------

//------------------------START PORTFOLIO-----------
@media screen and (max-width: 1100px){
  section.portfolio{
    div.container{
      div.row.port-items{
        div.col-6.item{
          div.img{
            img{
              width: 100%;
            }
          }
          div.title{
            p{
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 422px){
  section.portfolio{
    div.container{
      div.row.port-title{
        h2{
         text-align: center;
          line-height: 40px;
        }
      }
      div.row.portfolio-button{

        button{
          margin: 5px 20px;
        }
      }
      div.row.port-items{
        div.col-6.item{
          max-width: 100%;
          min-width: 100%;
          div.img{
            img{
              width: 100%;
            }
          }
          div.title{
            p{
            }
          }
        }
      }
    }
  }
}

//------------------------END PORTFOLIO-------------

//------------------------START ABOUT---------------
@media screen and (max-width: 1070px){
  section.about{
    padding-bottom: 10px;
    div.container{
      div.row.comments{
        margin-top: 0px;
      div.col-6.item{
        margin: 30px 0;
        min-width: 100%;
        max-width:100% ;
          &:nth-child(2n+2) {
            padding-left: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 640px){
  section.about{
    padding-bottom: 90px;
    div.container{
      div.row.about-title{
        h2{
          text-align: center;
          line-height: 40px;
        }
      }
      div.row.comments{
        div.col-6.item{
          padding: 10px 0;
          margin: 70px 0;
        }
      }
    }
  }
}
@media screen and (max-width: 360px){
  section.about{
    padding-bottom: 90px;
    div.container{

      div.row.comments{
        div.col-6.item{
          display: flex;
          flex-direction: column;
          padding: 10px 0;
          margin: 100px 0;
          div.img{
            display: flex;
            justify-content: center;
            img{


            }
          }
        }
      }
    }
  }
}

//------------------------END ABOUT-----------------

//------------------------START FOOTER--------------
@media screen and (max-width: 1028px){
  footer.touch{
    div.container{
      div.row.footer-social{
        margin-top: 0;
        flex-wrap: wrap;
        div.item{
          margin: 5px 110px;
          a{

          }
        }
      }
    }
  }
}
@media screen and (max-width: 860px){
  footer.touch{
    div.container{
      form{
        div.row{
          div.input{
            width: 420px;
            flex-direction: column;

          }
        }
        div.row.textarea{
          display: flex;
          justify-content: center;
          textarea{

            width: 420px;
            height: 200px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 490px){
  footer.touch{
    div.container{
      form{
        div.row{
          div.input{

            flex-direction: column;
            width: 300px;
            input{
              width: 100%;
            }

          }
        }
        div.row.textarea{
          display: flex;
          justify-content: center;
          textarea{
            width: 300px;
            height: 200px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 330px){
  footer.touch{
    div.container{
      div.row.touch-title{
        h2{
         text-align: center;
          line-height: 40px;
        }
      }
      form{
        div.row{
          div.input{

            flex-direction: column;
            width: 200px;
            input{
              width: 100%;
            }

          }
        }
        div.row.textarea{
          display: flex;
          justify-content: center;
          width: 200px;
          margin-left: 30px;
          textarea{
            width:200px;
            height: 200px;
          }
        }
      }
    }
  }
}

//------------------------END FOOTER----------------
