//BURGER
$burg-bg: #87509c;
$burg-color: #ffffff;
//BURGER END
//HEADER
$h-bg: #87509c;
$h-nav-hover:#643a79;
$h-title-color:#f7f3ea;
$h-nav-color:#ffffff;
$h-button-bg:#eb7d4b;
$h-button-border-bg:#c86a40;
$h-button-color:#ffffff;
//HEADER END
//------------------------------------------------
//SERVICES
$s-bg:#17c2a4;
$s-title-color:#ffffff;
$s-title-underscore-color:#000000;
//SERVICES END
//------------------------------------------------
//TEAM
$t-bg:#e7f1f8;
$t-main-color:#3c4761;
$t-underscore-bg:#bdd1df;
$t-item-title-color:#27283d;
$t-item-desc-color: #3c4761;
$t-item-social-bg:#bdd1df;
$i-item-social-color:#ffffff;
//TEAM END
//------------------------------------------------
//SKILL
$skill-title-color:#3c4761;
$skill-underscore-bg: #dfe8ed;
//SKILL END
//------------------------------------------------
//PORTFOLIO
$port-bg:#ffdd99;
$port-color:#393939;
$port-underscore: #e5c37f;
$port-link-bg:#17c2a4;
$port-link-color:#ffffff;
$port-link-color-bord:#14a58b;
//PORTFOLIO END
//------------------------------------------------
//ABOUT
$about-bg:#d74680;
$about-title-color:#ffffff;
$about-underscore:#b73b6d;
$about-commentator:#ffdd99;
//ABOUT END
//------------------------------------------------
//FOOTER
$footer-bg:#3c5499;
$footer-underscore:#273a71;
$footer-form-bg:#273a71;
$footer-form-color:#ffffff;
$footer-form-star:#ff0000;
$footer-form-submit-bg:#30bae7;
$footer-form-submit-bg-d-bord:#299ec4;
$footer-social-color:#328dc3;
$footer-social-hover-color:#ffffff;
//FOOTER END
//------------------------------------------------