$white:#ffffff;
$dark-white:#f7f3ea;
$purple:#87509c;
$dark-purple:#643a79;
$orange:#eb7d4b;
$dark-orange:#c86a40;
$mint:#17c2a4;
$dark-mint:#14a58b;
$solo-dark:#000000;
$team-blue-gray:#e7f1f8;
$team-blue-gray-underscore:#bdd1df;
$dark-blue-gray:#3c4761;
$black-gray:#27283d;
$light-blue:#dfe8ed;
$gritty: #ffdd99;
$light-gritty: #e5c37f;
$light-dark:#393939;
$rose:#d74680;
$dark-rose:#b73b6d;
$blue:#3c5499;
$dark-blue:#273a71;
$red-star:#ff0000;
$light-white-blue:#30bae7;
$dark-white-blue:#299ec4;
$social-hover:#328dc3;
